body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainscreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FF5757;
}

h1{
  color: #FF3131;
  margin-top: 100px;
}

.card {
  width: 1150px;
  height: 600px;
  margin: auto;
  background: white;
  position: center;
  align-self: center;
  top: 50rem;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  display: flex;
  flex-direction: row;

}

.leftside {
  background: #FF3131;
  width: 1150px;
  height: 600px;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

img{
  margin-top: 90px;
  margin-left: 45px;
}

.rightside {
  background-color: #ffffff;
  
  width: 35rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
}

.rightside h1{
  text-align: center;
}

.button {
  background: #FF3131;
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 350;
  font-size: 1.2rem;
  margin-top: 80px;
  width: 100%;
  letter-spacing: .11rem;
  outline: none;
}

.button:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}

.email {
  background: white;
  box-shadow: 0 0 2em #FF3131;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 20px;
  color: #a6a6a6;
  margin-top: 70px;
}
.email input {
  outline: none;
  border: none;
}
.email input::-moz-placeholder {
  color: #a6a6a6;
  font-size: 0.9em;
}
.email input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 0.9em;
}
.email input::placeholder {
  color: #a6a6a6;
  font-size: 0.9em;
}
.email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.password {
  background: white;
  box-shadow: 0 0 2em #FF3131;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 20px;
  color: #a6a6a6;
  margin-top: 30px;
}
.password input {
  outline: none;
  border: none;
}
.password input::-moz-placeholder {
  color: #a6a6a6;
  font-size: 0.9em;
}
.password input:-ms-input-placeholder {
  color: #a6a6a6;
  font-size: 0.9em;
}
.password input::placeholder {
  color: #a6a6a6;
  font-size: 0.9em;
}
.password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.password .show-hide {
  margin-right: -5em;
}