body {
font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background-color: #ffffff;
position: relative; 
}

p {
  color: #FF3131;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 100vh;
  width: 100%;
  background-size: 1300px;
  background-position: center center;
  background-repeat: no-repeat; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 2rem;
  width: 100%; }

  .site-navbar.transparent {
    background: transparent; }

  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

  .site-navbar .site-logo {
    position: relative;
    left: 0;
    font-size: 24px !important; }



    .site-navbar .site-navigation .site-menu .active > a span {
      background: #FF3131;
      color: #fff;
      border-radius: 30px;
      display: inline-block;
      padding: 5px 20px; }

    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }

    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; 
      margin-right: 5px;
    }

      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 0px;
        color: #000000;
        font-size: 16px;
        text-decoration: none !important; }

        .site-navbar .site-navigation .site-menu > li > a > span {
          padding: 5px 20px;
          display: inline-block;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          border-radius: 30px; }
          
        .site-navbar .site-navigation .site-menu > li > a:hover > span {
          background: #FF3131;
          color: #fff;
          border-radius: 30px;
          display: inline-block; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }


  .divA{
    color: #000000;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .equipe1{
    margin-top: 800px ;
    margin-left: 300px;
    font-size: 50px;
  }

  .equipe2{
    margin-top: 19px;
    margin-left: 300px;
  }

.img1{
  position:unset;
  margin-top: auto;
  margin-left: 240px;
  width: 1200px;
  height: 600px;
}


